<section class="advantages" id="advantages">
  <figure class="advantages-image1">
    <img
      src="../assets/images/Advantages/chicken.png"
      srcset="
        ../assets/images/Advantages/chicken.png    1x,
        ../assets/images/Advantages/chicken@2x.png 2x
      "
      alt="image chiken"
      loading="lazy"
    />
  </figure>

  <div class="advantages-container">
    <h2 class="advantages-title">Advantages</h2>
    <div class="chicken-body">
      <img
        src="../assets/images/Advantages/small-chicken.png"
        alt="image of small chicken"
      />
    </div>
    <div class="slider-container">
      <ul class="advantages-list">
        <li class="advantages-item">
          <p class="advantages-item-title">Exciting Quests</p>
          <p class="advantages-item-text">
            Help your neighbors and complete tasks to earn rewards
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-item-title">Customizable Farm</p>
          <p class="advantages-item-text">
            Design your farm to reflect your unique style
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-item-title">Expansive World</p>
          <p class="advantages-item-text">
            Explore neighboring lands and uncover hidden treasures
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-item-title">Diverse Crops and Animals</p>
          <p class="advantages-item-text">
            Grow a variety of plants and care for adorable animals
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-item-title">Family-Friendly Fun</p>
          <p class="advantages-item-text">
            Enjoy relaxing gameplay suitable for all ages
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="advantages-eggs">
    <svg class="egg" width="30" height="30" viewBox="0 0 24 24">
      <path
        d="M12 2C9 2 6 8 6 12C6 16 9 20 12 20C15 20 18 16 18 12C18 8 15 2 12 2Z"
      />
    </svg>
    <svg class="egg" width="30" height="30" viewBox="0 0 24 24">
      <path
        d="M12 2C9 2 6 8 6 12C6 16 9 20 12 20C15 20 18 16 18 12C18 8 15 2 12 2Z"
      />
    </svg>
    <svg class="egg" width="30" height="30" viewBox="0 0 24 24">
      <path
        d="M12 2C9 2 6 8 6 12C6 16 9 20 12 20C15 20 18 16 18 12C18 8 15 2 12 2Z"
      />
    </svg>
    <svg class="egg" width="30" height="30" viewBox="0 0 24 24">
      <path
        d="M12 2C9 2 6 8 6 12C6 16 9 20 12 20C15 20 18 16 18 12C18 8 15 2 12 2Z"
      />
    </svg>
    <svg class="egg" width="30" height="30" viewBox="0 0 24 24">
      <path
        d="M12 2C9 2 6 8 6 12C6 16 9 20 12 20C15 20 18 16 18 12C18 8 15 2 12 2Z"
      />
    </svg>
  </div>

  <figure class="advantages-image1">
    <img
      src="../assets/images/Advantages/chicken.png"
      srcset="
        ../assets/images/Advantages/chicken.png    1x,
        ../assets/images/Advantages/chicken@2x.png 2x
      "
      alt="image of chiken"
      loading="lazy"
    />
  </figure>

  <figure class="advantages-image2">
    <img
      src="../assets/images/Advantages/hay.png"
      srcset="
        ../assets/images/Advantages/hay.png    1x,
        ../assets/images/Advantages/hay@2x.png 2x
      "
      alt="image of hay"
      loading="lazy"
    />
  </figure>
</section>
