<footer class="footer">
  <div class="container">
    <div class="footer-body">
      <h3>
        Create your dream farm and <span>make memories </span> that last a
        lifetime!
      </h3>
      <nav class="footer-nav">
        <ul class="footer-list">
          <li class="footer-item">
            <a href="./privacy.html" class="footer-link">Privacy Policy</a>
          </li>
          <li class="footer-item">
            <a href="./terms.html" class="footer-link">Terms & Conditions</a>
          </li>
        </ul>
      </nav>
      <p class="footer-reserved">
        ©2024 StarBurstPlayWin.com All Rights Reserved
      </p>
    </div>
  </div>
</footer>
