<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#about-game">About the Game</a>
        </li>
      </ul>

      <div class="logo-container">
        <a class="logo-link" href="#home">
          <img
            class="logo-img"
            src="../assets/images/header/logo-icon.png"
            alt="Main logo icon"
          />
          <h3 class="logo-title">Family Nest: Farm Adventures</h3></a
        >
      </div>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#advantages">Advantages</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
      </ul>

      <button type="button" class="nav-btn">
        <img
          class="nav-burger"
          src="../assets/images/header/burger-menu.png"
          alt=""
        />
      </button>

      <button type="button" class="close-btn">
        <img
          class="nav-burger"
          src="../assets/images/header/close-btn.png"
          alt=""
        />
      </button>
    </nav>

    <nav class="mobile-nav">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item"><a href="#home">Home</a></li>
        <li class="mobile-nav-item">
          <a href="#about-game">About the Game</a>
        </li>
        <li class="mobile-nav-item"><a href="#advantages">Advantages</a></li>
        <li class="mobile-nav-item"><a href="#gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>
</header>
