<section class="hero" id="home">
  <div class="container">
    <h1 class="main-title">
      <!-- Grow, Explore, and Build Your Dream <span class="farm-span">Farm</span> -->
      <img class="title-img" src="../assets/images/hero/logo@2x.png" alt="" />
    </h1>
  </div>

  <div class="container-play-now">
    <a
      class="play-now-link"
      href="https://play.google.com/store/apps/details?id=com.SocialInfinite.FNFamilyRelics"
      target="_blank"
    >
      <p class="play-now">Play Now on</p>
      <img
        class="play-now-img"
        src="../assets/images/header/googleplay.png"
        alt="GooglePlay"
    /></a>
  </div>
  <img class="cow-img" src="../assets/images/hero/cow.png" alt="cow" />
  <!-- <img class="cow-img-desk" src="../assets/images/hero/cow.png" alt="cow" /> -->
  <img class="man-img" src="../assets/images/hero/man@2x.png" alt="man" />
</section>
