<section class="start">
  <div class="start-content">
    <div class="container start-body">
      <h3>Start Your Farm Adventure Today!</h3>
      <button>Download Now and Build Your Family Nest!</button>
    </div>
    <figure class="start-image">
      <img
        src="../assets/images/bushes.png"
        srcset="
          ../assets/images/bushes.png    1x,
          ../assets/images/bushes@2x.png 2x
        "
        alt="image of bushes"
        loading="lazy"
      />
    </figure>
  </div>
</section>
