.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(252, 248, 234, 0.4);
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 3;
  backdrop-filter: blur(40px);
}

.main-title {
  width: 288px;
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.logo-img {
  width: 20px;
  height: 20px;
}

.logo-title {
  color: #213003;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.nav-burger {
  width: 24px;
  height: 24px;
}

.close-btn {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-list {
    display: flex;
    gap: 72px;
  }

  .logo-container {
    flex-grow: 1;
  }

  .logo-img {
    width: 40px;
    height: 40px;
  }

  .nav-item {
    position: relative;
    color: #3d1a0b;
    background-color: #81ab06;
    font-family: Acme;
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    border-radius: 200px;
    transition: all 0.3s ease;
    list-style: none;
    transition: background-color 0.4s ease;
  }

  .nav-item:hover {
    background-color: #7e851e;
    cursor: pointer;
  }

  .nav-link {
    display: block;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    border-radius: inherit;
  }

  .nav-burger {
    display: none;
  }

  .logo-title {
    font-size: 24px;
  }
}

.mobile-nav {
  margin-top: 22px;
  display: none;
  transition: opacity 0.3s ease;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.mobile-nav-item {
  color: #3d1a0b;
  text-align: right;
  font-family: Acme;
  font-size: 18px;
  line-height: 1.5;
}
