.hero {
  position: relative;
  padding-top: 96px;
  padding-bottom: 44px;
  background-image: url('../../assets/images/hero/main@2x.jpg');
  background-size: cover;
  background-position: -260px;

  height: 100vh;
}

.main-title {
  margin: 0 auto;
  width: 288px;
  height: auto;
}

.title-img {
  width: 100%;
  height: 100%;
}

.container-play-now {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 44px;
  left: 50%;
  width: 234px;
  height: auto;
  transform: translateX(-50%);
  z-index: 2;
}

.play-now-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  background-color: #fbfaea;
  border: 3px solid #d4422f;
  border-radius: 20px;
  transition: all 0.3s ease;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.play-now-link:hover {
  background-color: #f7eece;
}

.play-now {
  color: #213003;
  font-family: Acme;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.play-now-img {
  width: 91px;
  height: 20px;
}

.cow-img {
  position: absolute;
  bottom: 0;
  left: -24px;
  width: 167px;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.man-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 140px;
  height: 287px;
  object-fit: cover;
  z-index: 1;
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 195px;
    padding-bottom: 140px;
    background-position: 0;
  }

  .main-title {
    font-size: 64px;
    width: 752px;
    margin-right: auto;
    margin-left: auto;
  }

  .title-img {
    width: 100%;
    height: 100%;
  }

  .container-play-now {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    height: auto;
  }

  .play-now-link {
    padding: 16px;
  }

  .play-now {
    font-size: 24px;
  }

  .cow-img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    left: -60px;
    animation: cow-slide-in 2s forwards;
  }

  .man-img {
    width: 252px;
    height: 517px;
    animation: man-slide-in 2s forwards;
  }

  @keyframes cow-slide-in {
    from {
      left: -600px;
    }
    to {
      left: -60px;
    }
  }

  @keyframes man-slide-in {
    from {
      right: -600px;
    }
    to {
      right: 0;
    }
  }
}
